.userPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
}

.userPage__previusPage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.userPage__previusPage__icon {
  font-size: 25px;
  cursor: pointer;
}
