.page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

.page__content {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .page__content {
    width: 90%;
  }
}
